/* offline roboto fonts */
/* all: https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900 */

/* offline material icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/materialicons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* roboto-100 - vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-100.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-100.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-300 - vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-300.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-regular - vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto/roboto-v19-vietnamese_latin-ext_greek-ext_cyrillic-ext_latin_cyrillic_greek-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }
